/*meilleur css fait depuis les mediaqueries*/

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Muli";
    src: url("Muli-ExtraLight.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("Inter-SemiBold-slnt=0.ttf");
}

@font-face {
    font-family: "Inter1";
    src: url("Inter-Light-slnt=0.ttf");
}

@media only screen and (min-width:0px) {

    .nomprenommin {
        margin: 0px;
        padding-top: 10px;
        text-align: center;
        font-size: 35px;
    }

    .prenommin {
        margin-right: 5px;
    }

    .nommin {
        margin-left: 5px;
    }

    .soustitremin {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 25px;
    }

    .image {
        background-color: #536DFE;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    #partiegauche1 {
        background-color: #536DFE;
        text-align: center;
        font-family: Inter;
    }

    .header1 {
        background-color: black;
        color: #536DFE;
        font-family: Inter;
    }

    .titrepartiegauche {
        background-color: black;
        color: #536DFE;
        margin-top: 0px;
        margin-bottom:0px;
        padding-bottom:10px;
        padding-top:10px;
    }

    
    .texteaproposdemoi {
        margin-left: 35px;
        margin-right: 35px;
        text-align: justify;
    }

    #partiedroite {
        font-family: Inter;
        margin: 40px;
    }

    .nomprenommax {
        font-size: 0px;
    }

    .imagedroite{
        padding-right:10px;
    }
    

    .loisirs {
        padding-bottom: 15px;
    }

    .texteloisirs {
        display: flex;
        justify-content: space-around;
    }

    #partiedroite{
        text-align:center;
    }

    .titreformation {
        border-bottom: 2px solid #536DFE;
        padding-bottom:10px;
        
    }
    .titreexperienceprofessionnelle {
        border-bottom: 2px solid #536DFE;
        padding-bottom: 10px;
    }
    .titrerecommandations {
        border-bottom: 2px solid #536DFE;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width:700px)  {

    #partiegauche1 {
        display: flex;
    }

    .image {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contacts {
        min-width: 33%;
    }

    .textecontacts {
        padding-left: 10px;
        padding-right: 10px;
    }

    .aproposdemoi {
        min-width: 34%;
    }

    .loisirs {
        min-width: 33%;
    }

    .texteloisirs {
        flex-direction: column;
    }

    .tennis {
        padding-bottom: 25px;
    }

    .book {
        padding-bottom: 25px;
    }

    .bike {
        padding-bottom: 25px;
    }

    .hinking {
        padding-bottom: 25px;
    }

}

@media all and (min-width:1200px) {

    body{
        display:flex;
        flex-direction:row;

    }
    .header1{
        display:none;
    }
    .partiegauche {
        display:flex;
        flex-direction:column;
        
        max-width: 25%;
        
    }
    #partiegauche1 {
        display: flex;
        flex-direction: column;
        min-height:90%;
    }
    .nomprenommin {
        font-size: 0;
    }

    .soustitremin {
        font-size: 0;
    }

    .textecontacts{
        padding-bottom:35px;
        text-align:left;
        padding-left:35px;
        padding-right:35px;
    }

    .aproposdemoi {
        flex-grow: 2;
    }
.texteaproposdemoi{
    
}
    .loisirs{
        
    }
    .texteloisirs{
        flex-direction:row;
    }
    .nomprenommax {
        font-size: 50px;
    }

    

    #partiedroite {
        font-family: Inter;
        display: flex;
        flex-direction: column;
        margin-top:0px;
        padding-left: 40px;
        padding-right: 40px;
        max-width:75%;
        text-align:left;
    }

    p{
        margin-bottom:0px;
    }

    .soustitre{
        font-size:30px;
        margin-top:0px;
    }
    .formation {
        display: flex;
        flex-direction: column;
    }

    .experienceprofessionnelle {
        display: flex;
        flex-direction: column;
    }

    .titreformation {
        border-bottom: 2px solid #536DFE;
        padding-bottom: 0px;
        font-size: 25px;
    }

    .titreexperienceprofessionnelle {
        border-bottom: 2px solid #536DFE;
        padding-bottom: 0px;
        font-size: 25px;
        
    }

    .titrerecommandations {
        border-bottom: 2px solid #536DFE;
        padding-bottom: 20px;
        font-size: 25px;
    }

    h1 {
        padding-left: 10px;
    }

    .nomprenommax {
        margin-top: 00px;
        margin-bottom: 70px;
    }

    .prenom {
        font-size: 40px;
        color: #536dfe;
    }

    .nom {
        font-size: 40px;
        font-family: Muli;
        padding: 10px;
    }


    .devel {
        border-bottom: 3px solid #536DFE;
        padding-top: 5px;
        padding-left: 7px;
    }

    h3 {
        padding-top: 10px;
        padding-left: 7px;
    }

        h3 img {
            float: left;
            vertical-align: central;
            margin-right: 20px;
            padding-bottom: 20px;
        }

    .imagedroite {
        padding-right: 10px;
        padding-top: 5px;
        
    }

    .soustitre {
        font-family: Inter;
    }

    .formation1 {
        display: flex;
        flex-direction: row;
    }

    .formation2 {
        display: flex;
        flex-direction: row;
    }

    .formation3 {
        display: flex;
        flex-direction: row;
    }

    .formation4 {
        display: flex;
        flex-direction: row;
    }

    .formation5 {
        display: flex;
        flex-direction: row;
    }

    .date1 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 35%;
        
    }

    .titretextedroite {
        margin-bottom: 10px
    }

    .texteformation {
        width: 65%;
        margin-bottom: 30px;
        padding-left: 10px;
    }

    .soustitretextedroite {
        margin-bottom: 10px;
        font-family: Inter1;
    }

    .textdate1 {
        margin-left: 15px;
    }

    .ville1 {
        margin-left: 24px;
    }

    .texterecommandations {
        display: flex;
        flex-direction: row;
    }

    .textereco {
        width: 70%;
        margin-bottom: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .textedroite {
        text-align: justify;
        font-size: 15px;
        overflow-wrap: break-word;
        font-family: Inter1;
    }
}






