@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body {
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 0px){



header{
  text-align: center;

}
figure{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #7986CB;
}
img{
  border-style: ridge;
  border-radius: 200px;
}
h1{
  font-family: 'Muli', sans-serif;
}
.h1__prenom {
  color: #7986CB;
  font-family: 'Inter', sans-serif;
  margin-right: 0.4em;
}

h2{
  font-family: 'Inter', sans-serif;
  font-size: 1.6em;

}

.info {
  font-family: Inter;
  background-color: #7986CB;
}
.info h2{
  background-color: black;
  color: #7986CB;
  font-size: 1.5em;
  text-align: center;

}
.info h3{

  font-size: 1.2em;
  margin-bottom: 0;
}

.info__contacts {
  text-align: center;
}
.info__contacts a{
  font-size: 1em;
  font-family: Muli;
  color:black;
}

.info__contacts p{
  font-family: Muli;
  font-size: 1em;
  margin-top: 0;
}

.info__contacts h3:first-child{
  margin-top: 0;
}
.info__a-propos p{
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  font-family: Muli;

}

.info__loisirs{
  text-align: center;

}

.info__loisirs i{
  font-size: 2.5em;
  padding: 0.15em;
  border-style: ridge;
  border-radius: 200px;
  border-color: black;
}
i.fas.fa-biking{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
}
i.fas.fa-hiking{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
i.fas.fa-book{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}


/* css arcticle CV*/

.cv__article__elem{
  font-family: 'Inter', sans-serif;
  padding-left: 2.3em;
  padding-right: 1em;
  padding-bottom: 1em;

}
.cv__article__elem:nth-of-type(odd){
  background: #E0E0E0;
}
.cv i {
  color: #7986CB;
}


.cv h2{

  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.4em;
}

.cv__article p{
  margin: 0;
  padding-top: 1em;

}
.cv__article i{
  padding-right: 1em;
}

.cv__article__ville{
  padding-left: 2.3em;
}

.cv h3{
  margin: 0;
  padding-top: 0.6em;
  font-size: 1.2em;

}

.cv h4{
  font-size: 1em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-style: italic;

}
.cv h5{
  margin: 0;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.cv__article a{
  color: black;
  font-size: 1em;
}

.cv__article__elem__date {
  padding-top: 0.5em;
}

.cv__article__rec{
  font-family: 'Inter', sans-serif;
  padding-bottom: 1em;
}
.cv__article__rec__elem{
  padding-left: 2em;
}
.cv__article__rec__elem:first-child{
  background: #E0E0E0;
}
}
