
@media screen and (min-width: 1080px) {


  main{
    display: flex;
  }
  header{
    display: flex;
  }
  figure{
    text-align: center;
    width: 30%;
  }
  .header__titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 40px;
  }
  h1{
    text-align: left;
    margin-bottom: 0;
    font-size: 3em;
  }
  .header__titre h2{

    text-align: left;
  }

  .h2__souligne{
    border-bottom: 2px solid #7986CB;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .info__contacts h2{
    margin-top: 0;

  }

  .info__contacts{
    padding-bottom: 1em;
    text-align: left;
  }
  .info__contacts :not(h2){
    padding-left: 1em;
  }

  .info__a-propos{
    flex-grow: 2;
  }


  /* css arcticle CV*/

  .cv{
    width: 70%;

  }
  .cv__article__elem{
    display: flex;
    padding-left: 0;
    background: white;
  }
  .cv__article{
    padding-left: 2em;
    padding-right: 2em;
  }
  .cv h2{
    border-top: none;
    border-bottom: 2px solid #7986CB;
    text-align: left;
  }

  .cv h3 {
    margin-top: 0;
    font-size: 1em;
  }
  .cv h4 {
    padding-bottom: 0;
  }
  .cv__section__desc{
    margin: 0;

  }
  .cv__article i{
    padding-right: 1em;
  }
  .cv__section__elem__date{
    width: 35%;
    padding-right: 1em;
  }
  .cv__section__elem:nth-of-type(odd){
    background: white;

  }
  .cv__article__elem__cont{
    width: 70%;
  }
  .cv__article__ville{
    padding-left: 2.3em;
  }

  .cv__section__elem:last-child{
    justify-content: space-around;
  }

  .cv__article__rec{
    display: flex;
    justify-content: space-around;
    padding-left: 2.3em;
    padding-right: 1em;
    padding-top: 1em;

  }
  .cv__section__rec__elem:first-child{
    background: white;
  }

}
